.page-indicator {
    position: fixed;
    top: 0;
    right: 0;
    width: 5vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    &__indicator {
        width: 40%;
        max-width: 10px;
        color: white;

        &--active {
            width: 40%;
            max-width: 10px;
            color: blue;
        }
    }
}
